<div class="table-entry-wrapper">
  <h1>{{ 'materials.title_entry' | translate }}</h1>

  <div class="buttons-wrapper">
    <button mat-raised-button class="button" (click)="openAddEntryDialog()">
      <mat-icon class="icon">add</mat-icon>
      {{ 'materials.add' | translate }}
    </button>

    <button mat-raised-button class="button" [routerLink]="['../exit-date']">
      <mat-icon class="icon">logout</mat-icon>
      {{ 'materials.go_to_exits' | translate }}
    </button>
  </div>

  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="material_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.material_id' | translate }}">{{ 'materials.material_id' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.material_id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.name' | translate }}">{{ 'materials.name' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.name }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.quantity' | translate }}">{{ 'materials.quantity' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="unit_price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.unit_price' | translate }}">{{ 'materials.unit_price' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.unit_price }}</td>
    </ng-container>

    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.unit' | translate }}">{{ 'materials.unit' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.unit }}</td>
    </ng-container>

    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.provider' | translate }}">{{ 'materials.provider' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.provider }}</td>
    </ng-container>

    <ng-container matColumnDef="provider_ruc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.provider_ruc' | translate }}">{{ 'materials.provider_ruc' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.provider_ruc }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.date' | translate }}">{{ 'materials.date' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.date }}</td>
    </ng-container>

    <ng-container matColumnDef="receipt_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.receipt_number' | translate }}">{{ 'materials.receipt_number' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.receipt_number }}</td>
    </ng-container>

    <ng-container matColumnDef="payment_method">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.payment_method' | translate }}">{{ 'materials.payment_method' | translate }}</th>
      <td mat-cell *matCellDef="let material">
        {{ ('materials.pay_method.' + material.payment_method.toLowerCase()) | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.status' | translate }}">{{ 'materials.m_status' | translate }}</th>
      <td mat-cell *matCellDef="let material">  {{ ('materials.status.' + material.status.toLowerCase()) | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'materials.m_actions' | translate }}</th>
      <td mat-cell *matCellDef="let material">
        <a (click)="onEditItem(material)" href="javascript:void(0)">
          <mat-icon>edit</mat-icon>
        </a>
        <a (click)="onDeleteItem(material)" href="javascript:void(0)">
          <mat-icon>delete</mat-icon>
        </a>
        <a (click)="openMoveToExitDialog(material)" href="javascript:void(0)">
          <mat-icon>logout</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToString"></tr>
    <tr *matRowDef="let row; columns: columnsToString;"
        [ngClass]="{ 'editable-row': materialData && materialData.id === row.id}" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  <button mat-raised-button class="button back-btn" [routerLink]="['../']">
    <mat-icon class="icon">arrow_back</mat-icon>
    {{ 'materials.back_to_materials' | translate }}
  </button>
</div>


