<div class="table-wrapper">
  <h1>{{ 'materials.title' | translate }}</h1>
  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.name' | translate }}">{{ 'materials.name' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.name }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.quantity' | translate }}">{{ 'materials.quantity' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.stock' | translate }}">{{ 'materials.stock' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.stock }}</td>
    </ng-container>

    <ng-container matColumnDef="unit_price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.unit_price' | translate }}">{{ 'materials.unit_price' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.unit_price }}</td>
    </ng-container>

    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.unit' | translate }}">{{ 'materials.unit' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.unit }}</td>
    </ng-container>

    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.provider' | translate }}">{{ 'materials.provider' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.provider }}</td>
    </ng-container>

    <ng-container matColumnDef="provider_ruc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.provider_ruc' | translate }}">{{ 'materials.provider_ruc' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.provider_ruc }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.date' | translate }}">{{ 'materials.date' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.date }}</td>
    </ng-container>

    <ng-container matColumnDef="receipt_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.receipt_number' | translate }}">{{ 'materials.receipt_number' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.receipt_number }}</td>
    </ng-container>

    <ng-container matColumnDef="payment_method">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.payment_method' | translate }}">{{ 'materials.payment_method' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ material.payment_method }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{ 'materials.sort.m_status' | translate }}">{{ 'materials.m_status' | translate }}</th>
      <td mat-cell *matCellDef="let material"> {{ 'materials.status.' + material.status | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'materials.actions' | translate }}</th>
      <td mat-cell *matCellDef="let material">
        <a (click)="onEditItem(material)" href="javascript:void(0)" [attr.aria-label]="'materials.actions.edit' | translate">
          <mat-icon>edit</mat-icon>
        </a>
        <a (click)="onDeleteItem(material)" href="javascript:void(0)" [attr.aria-label]="'materials.actions.delete' | translate">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToString"></tr>
    <tr *matRowDef="let row; columns: columnsToString;"
        [ngClass]="{ 'editable-row': materialData && materialData.material_id === row.id}" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
